<head>  
	<style type="text/css">
		.btn-add {
			font-size: 15px;
			text-align: center;
			margin: auto;
			border-color: #ffffff;
			border-width: 2px;
		}
		.btn-blue {
			background-color: #337ab7;
			color: white;
		}
		.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
			background-color: #daecf7;
		}
	</style>
</head>

<body>
  <div class = "m-4">
  <accordion [isAnimated]="true" >
    <accordion-group heading="ผู้ใช้งาน" [isOpen]=true [panelClass]="customClass">
      <div fxLayout="row" fxLayoutAlign="end center"  style="padding: 0px 0px 15px 0px; min-height: 0px" >
              <select class="custom-select form-control " id="selectSearch" style="width: 10%; margin-right: 20px;">
                <!-- <option value="all">ทั้งหมด</option> -->
                <option selected value="id">รหัสผู้ใช้งาน</option>
                <option value="firstName">ชื่อ</option>
                <option value="lastName">นามสกุล</option>
                <!-- <option value="name">ชื่อ-นามสกุล</option> -->
                <option value="birthday">วันเกิด</option>
                <option value="age">อายุ</option>
                <option value="sex">เพศ</option>
                <option value="dateSave">วันที่บันทึก</option>
                <option value="saveBy">บันทึกโดย</option>
              </select>
                <input type="text" class="form-control" id="search" placeholder="Search" style="margin-right: 10px; width: 20%;">	
				<input type="hidden" class="form-control ctrl-date" id="searchDate" bsDatepicker placeholder="dd-mm-yyyy" style="margin-right: 10px; width: 20%;" (bsValueChange)="onSearchDayChange($event)" [bsConfig]= '{ isAnimated: true, dateInputFormat: "DD-MM-YYYY" }'>
      </div>
        
        <div fxLayout="row" fxLayoutAlign="center center" style="padding: 15px 25px 0px 25px; min-height: 0px;">
                <table id="userTable" class="table table-striped table-bordered table-hover responsive">
                          <thead style="color: white">
                          <tr style="background-color: #337ab7;" >
                              <th>ลำดับ</th>
                              <th>รหัสผู้ใช้งาน</th>
                              <th>ชื่อ-นามสกุล</th>
                              <th>วันเกิด</th>
                              <th>อายุ</th>
                              <th>เพศ</th>
                              <th>วันที่บันทึก</th>
                              <th>บันทึกโดย</th>
                              <th>
								<button type="button" class="btn btn-add btn-sm btn-blue" (click) = "setMode('add')" > Add <i class="bi bi-person-plus"></i></button>
                  			  </th>
                          </tr>
                          </thead>
                          <tbody style="color: black">
                          </tbody>
                </table>    
        </div>  

    </accordion-group>
 </accordion>
</div>

<input type="hidden" id="keep">
	
	<!-- Modal -->
	<ng-template #template>
		<div class="modal-header">
			<div class="modal-title h4">กรุณากรอกข้อมูลการใช้งาน</div>
			<button type="button" class="close pull-right" aria-label="Close" (click)="closeModal();">
				<span aria-hidden="true">×</span>
			</button>
		</div>
		<div class="modal-body">
		        <form>
			        <div class="row">
					    <div class="form-group col-md-6">
					      <label for="firstname" class="col-form-label">ชื่อ</label>
					      <input type="text" class="form-control" placeholder="" id="firstname">
					    </div>
					    <div class="form-group col-md-6">
					      <label for="lastname" class="col-form-label">นามสกุล</label>
					      <input type="text" class="form-control" placeholder="" id="lastname">
					    </div>
					</div>
					
					<div class="row">
					    <div class="form-group col-md-6">
					      <label for="birthday" class="col-form-label">วันเกิด</label>
					      <input type="text" class="form-control ctrl-date" bsDatepicker placeholder="dd/mm/yyyy" id="birthday" (bsValueChange)="onDayChange($event)" [bsValue]="bsValue" [bsConfig]= '{ isAnimated: true, dateInputFormat: "DD/MM/YYYY" }'>
					    </div>
					    <div class="form-group col-md-6">
					      <label for="age" class="col-form-label">อายุ</label>
					      <input type="text" class="form-control" placeholder="" id="age" disabled>
					    </div>
					</div>
					
					<div class="row">
					    <label for="sex" class="col-form-label col-md-12">เพศ</label>
					</div>
					<div class="row col-md-6">
						<mat-form-field appearance="fill">
							<mat-label>กรุณาเลือกเพศ</mat-label>
							<mat-select [(value)]="selectedValue" name="food">
							  <mat-option value="ชาย">ชาย</mat-option>
							  <mat-option value="หญิง">หญิง</mat-option>
							</mat-select>
						</mat-form-field>
					</div>					
							
		        </form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-blue" (click)="checkAddOrEdit();" id = "addOrEditBtn">บันทึก</button>
	        <button type="button" class="btn btn-danger" (click)="closeModal()">ยกเลิก</button>
		</div>
</ng-template>
	<!-- Modal -->

</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">